/* CSS stands for Cascading Style Sheet */

/* The body defines the documents... body. All the contents of the HTML document
that are not overridden by proceeding element adjustments (such as the one to #map) */
body {
    display: flex;
    /* Flex will expand or shrink item to prevent overflow */
    justify-content: center;
    /* Justify-content aligns flexed item to be centered in the container */
    align-items: center;
    /* aligns items in the center of the container */
    min-height: 100vh;
    /* the minium allowable hight for the body's viewport height is 100 pixels */
    background-color: #000000;
    /* changes background color to black using hexadecimal color code */
}

/* this is how and where the display for the <div id="map"> 
gets it's dimensions otherwise it would collapse and not display the map*/

/* as a side note it can be named whatever we want it to be named (pizza, 
cardboard, or whatever. however it is best practice to keep it relative 
to it's function */
#map{
    border: 2px;
    /* px stands for pixel */
    width: 80vw;
    /* vw stands for viewport width */
    height: 80vh
    /* vh stands for viewport height */
}
